@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}

<p>
    Please report to your <strong>scouting coordonator</strong> or <strong>team leader</strong> and proceed recreating the problem so that it could be adressed.
</p>
<p>
    If contacting them is not possiible, and the application continues to function, you may write down the missing information and continue scouting.
</p>
<p>
    If information is missing from any of the lists, please advise your <strong>scouting coordonator</strong> or <strong>team leader</strong> to inspect the databases for any problems.
</p>