@page
@model FTCScoutingAppV2.Pages.Schedule.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Match in schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MatchList.ID" />
            <input type="hidden" asp-for="MatchList.eventID" />
            <input type="hidden" asp-for="MatchList.RedTeam1ID" />
            <input type="hidden" asp-for="MatchList.RedTeam2ID" />
            <input type="hidden" asp-for="MatchList.BlueTeam1ID" />
            <input type="hidden" asp-for="MatchList.BlueTeam2ID" />
            <div class="form-group">
                <label asp-for="MatchList.matchNumber" class="control-label"></label>
                <input asp-for="MatchList.matchNumber" class="form-control" />
                <span asp-validation-for="MatchList.matchNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchList.RedScore" class="control-label"></label>
                <input asp-for="MatchList.RedScore" class="form-control" />
                <span asp-validation-for="MatchList.RedScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchList.BlueScore" class="control-label"></label>
                <input asp-for="MatchList.BlueScore" class="form-control" />
                <span asp-validation-for="MatchList.BlueScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-eventID="@Model.eventID">Back to schedule</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
