@page
@model FTCScoutingAppV2.Pages.Matches.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Match.ID" />
            <div class="form-group">
                <label asp-for="Match.matchType" class="control-label"></label>
                <input asp-for="Match.matchType" class="form-control" />
                <span asp-validation-for="Match.matchType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.matchNumber" class="control-label"></label>
                <input asp-for="Match.matchNumber" class="form-control" />
                <span asp-validation-for="Match.matchNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
