/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */

#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container {
    min-height: 100%;
    padding-top: 60px;
}

#navbar {
    background-color: #333;
    overflow: hidden;
    z-index: 500;
}

    #navbar a {
        color: #f2f2f2;
        display: block;
        float: left;
        font-size: 17px;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
    }

        #navbar a:hover {
            background-color: #fffffd;
            color: black;
        }

        #navbar a.logo {
            background-color: #fffffd;
            color: white;
        }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 60px;
    }

footer {
    padding: 7px;
}

/* Visibility Helpers */

@media only screen and (min-width: 769px) {
    .visible-mobile, .visible-tablet, .hidden-desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .visible-mobile, .hidden-tablet, .visible-desktop {
        display: none !important;
    }
}

@media only screen and (max-width: 479px) {
    .hidden-mobile, .visible-tablet, .visible-desktop {
        display: none !important;
    }
}